.sidebar {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 9;
  background-color: #000;
  box-sizing: border-box;
}

.sidebar:hover {
  overflow-y: auto;
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: #000;
}
.sidebar-playlist-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 320px;
}

.branding {
  margin-bottom: 16px;
}
